[2019-02-28 16:42] ricburton opened #1 "The first time a CDP loads the amounts are truncated."
<img width="286" alt="screenshot 2019-02-28 at 11 41 07" src="https://user-images.githubusercontent.com/438160/53582564-c0856900-3b4d-11e9-9203-fe933ff0b509.png">

@banteg on https://t.me/makerdaoofficial

[2019-02-28 16:43] ricburton opened #2 "Delete all does not work"
I hit delete but when I refresh the app the CDPs come back.

[2019-03-01 13:40] ricburton opened #3 "@whuttheeperson’s feedback on Maker Rocket Chat"
Hey Ric,

New Balance wallet looks awesome.

A few thoughts.

* On the CDP dashboard mainscreen, before you expand the CDPs, It would be nice to know the ETH amount locked up as collateral, not just the USD.

* I'm not sure what the 'position' is referring to, it seems to be the ETH price divided by something I'm not sure what.

* When expanding the individual CDP, I'm not sure what the coloured b

[2019-03-01 13:40] ricburton opened #4 "@banteg on MakerDAO Telegram"
https://t.me/makerdaoofficial

even in this prototype form it's a super useful tool. all other features i can imagine fall under "nice to have" category. some of them are:
- naming a cdp
- simulating adding/removing collateral/debt. for example, i'm usually interested what would my liquidation price be if i draw some dai, sell it for eth and add it to the cdp. maybe this can be cleverly integrated

[2019-03-03 11:51] #2 closed

[2019-03-03 11:53] ricburton commented on #2
This was the problem: https://stackoverflow.com/review/suggested-edits/22357234

[2019-03-03 11:54] ricburton opened #5 "🗑 Delete individual items in the watchlist"
Swiping to delete could be nice. Get rid of specific CDPs.

[2019-03-03 11:56] ricburton opened #6 "🏷 Naming a CDP"
@banteg on Telegram’s suggestion.

[2019-03-03 20:32] #1 closed

[2019-03-04 01:59] banteg opened #7 "💰 Account for PETH in the formula"
Currently the PETH rate is not accounted for. See example and fix below.

![img_0003](https://user-images.githubusercontent.com/4562643/53705501-adc5a980-3e57-11e9-8398-58f8c4451473.jpg)

Here is how I think it should be:

[code]

Reference data:
[code]

The fix:
- Multiply ETH collateral by `per`
- Multiply USD collateral by `per`

[2019-03-04 08:51] ricburton opened #8 "📲 Pop up issues"
When clicking on a cdp the window pops up with more detailed information. To close that window you must swipe the window down. I would allow swiping up to close the window an in particular I would also allow tapping somewhere outside the window to close it.

Another thing that I noticed is that when I open a window and tap above the window you should have a cdp in the background. If that cdp # is

[2019-03-09 20:13] ricburton commented on #5
https://twitter.com/sniko_/status/1102373639490543617

[2019-03-09 20:14] ricburton opened #9 "💰 Change art to ire"
https://twitter.com/Maverickal_/status/1102346090974724100

[2019-03-09 20:15] ricburton opened #10 "Make the liquidation price clearer"
https://twitter.com/LevDubinets/status/1102416362494844928

[2019-03-09 22:51] ricburton opened #11 "♻ Refresh data"

[2019-03-09 22:54] #5 closed

[2019-03-12 07:31] ricburton opened #12 "⏲ Nav bar goes weird"
<img width="386" alt="Screen Shot 2019-03-12 at 07 08 18" src="https://user-images.githubusercontent.com/438160/54182256-e2a9b000-4498-11e9-929f-b5039d3aff83.png">

Not sure why

[2019-03-14 02:21] ricburton opened #13 "➕Rounding down and up a bit much"
If I have 0.14 ETH then it shows 1 ETH. Probably 2 decimal places for most things is fine.

[2019-03-14 02:22] ricburton opened #14 "📊 No pricing for REP tokens"

[2019-03-14 02:23] ricburton opened #15 "💵Add wallet switcher menu"
Now that I am using the aggregated view, I really want to slide between wallets.

[2019-03-14 02:24] ricburton opened #16 "© Popup when copy"
When you tap the copy button I want some kind of feedback.

[2019-03-14 02:25] ricburton opened #17 "🤳🏾 QR code should conform to EIP 67"
@pedrouid said it should be “ethereum:0x276...”

Obviously copy and paste you strip the `ethereum:` part.

[2019-03-14 02:27] ricburton commented on #11
- [x] When the app is loaded up

- [x] After adding a wallet

- [x] When tab switching

- [x] After removing a wallet

[2019-03-14 02:28] ricburton commented on #9
The calculation is incorrect as it is showing PETH.

[2019-03-14 02:30] ricburton commented on #7
Thanks for this report @banteg! Is it the same as the one I entered at #9?

[2019-03-14 02:42] ricburton opened #18 "🤳🏾 Visual feedback on QR code scan"
It's so fast I barely see it happening.

[2019-03-14 02:43] ricburton opened #19 "🖲 Show Add Wallet Button when the address and name are filled out"
I had to tap in the address field and then hit enter to see the Add wallet button.

[2019-03-14 02:44] ricburton opened #20 "➕ETH total error in calculation"
I am seeing 2 ETH * 133 = $15.65

That can't be right :)

[2019-03-14 02:46] ricburton opened #21 "⚖️ CDP position and plaintext are missing"
They are not visible in the card or popup. Guessing due to the API change on how the data gets synced.

[2019-03-14 02:47] ricburton opened #22 "⛓ Change MKR.tools API over to Maker’s GraphQL API"
Read the data from the source

[2019-03-14 02:47] ricburton commented on #22
Or consider Graph Protocol

[2019-03-14 02:51] ricburton opened #23 "👀 Missing CDPs when I have multiple wallets"
I see the data when I have one wallet added.

I add another wallet.

I see the new CDPs. I do not see the old ones.

I remove the new wallet.

I see the old CDPs.

[2019-03-14 05:22] einsteinx2 commented on #23
Whoops, yep it's not adding the CDPs together, it's overwriting with the last one that loads. Fixing now.

[2019-03-14 05:27] #23 closed

[2019-03-14 05:28] einsteinx2 commented on #22
Assuming they make all of the data available that we need for your updated design, then GraphQL is the way to go if they don't include it in the regular API. GraphQL is easy to use too because you get to pick the data formatting when you make the API call, so it makes parsing easy.

[2019-03-14 05:31] ricburton commented on #22
No rush here. Just want to leave it open to curious devs.

[2019-03-14 05:33] einsteinx2 commented on #21
typo'd something in the parsing code. 2 character fix lol

[2019-03-14 05:34] #21 closed

[2019-03-14 05:36] einsteinx2 commented on #11
Data is already reloaded when the app loads from scratch (but not when switching back to it, but I can add that quickly) and when wallets are added. Need to add for when wallets are removed and tabs are switched.

[2019-03-14 05:51] einsteinx2 commented on #13
whoopsie another typo bug, that was supposed to be using the cryptoNumberFormatter which does 4 decimals.

[2019-03-14 05:52] #13 closed

[2019-03-14 05:52] einsteinx2 commented on #20
haha yep it's way off

[2019-03-14 06:08] einsteinx2 commented on #20
it was actually not aggregating the fiat balances and only using the balance from the first wallet

[2019-03-14 06:09] #20 closed

[2019-03-14 06:15] #19 closed

[2019-03-14 06:40] einsteinx2 commented on #14
Turns out Ethplorer doesn't have a price for REP tokens:

[code]

[2019-03-14 06:41] einsteinx2 commented on #14
This is the JSON we're getting:

[code]

So it's not a parsing bug.

[2019-03-14 06:42] einsteinx2 commented on #12
Yeah it's been doing that since your first test version. Not sure why.

[2019-03-14 06:43] ricburton commented on #14
Good to know—thanks.

Richard
On 14 Mar 2019, 06:41 +0000, Ben Baron <notifications@github.com>, wrote:

[2019-03-14 06:43] einsteinx2 commented on #12
Ahhh it's your UILabel+Padding extension: https://stackoverflow.com/questions/54003135/status-bar-clock-has-been-truncated-on-iphonex

[2019-03-14 06:44] einsteinx2 commented on #12
"You are using extension on UILabel, which override it's intrinsicContentSize. (or maybe you swizzling this method) So status bar clock label trigger it and got wrong intrinsicContentSize. Try to fix textSize calculation in this overrided method, or avoid overriding it if possible."

[2019-03-14 06:50] #12 closed

[2019-03-14 06:52] einsteinx2 commented on #8
This is fixed already. Single tap closes the popup and tapping the background doesn't open another one if there is a CDP cell below the tap.

[2019-03-14 06:52] #8 closed

[2019-03-14 07:22] ricburton opened #24 "↕️ Expandable ERC-20 cells"
I have lots of worthless tokens and I want all sums under $10 to be hidden away.

[2019-03-14 07:49] ricburton opened #25 "🖲 Fix add wallet button"
#19 broke it :)

[2019-03-14 07:58] ricburton opened #26 "👯‍♂️ Prevent a wallet being added twice"
I added the wrong address twice by accident.

[2019-03-14 07:58] ricburton opened #27 "🏚 Check if the 0x address is broken"
Check the formatting and give feedback to the person.

[2019-03-14 08:00] ricburton opened #28 "🏠 Prevent people adding more than 10 wallets"
I just accidentally added the same wallet 100x and it broke the app.

Being able to monitor more wallets could be a paid upgrade.

[2019-03-14 08:01] ricburton opened #29 "⏳ Show loading spinner when fetching data"
Just something to look at when it takes time.

[2019-03-14 08:02] einsteinx2 commented on #28
Also we shouldn’t allow you to add the same wallet address twice

[2019-03-14 08:02] ricburton commented on #25
It added the wallet but didn't dismiss the screen.

[2019-03-14 08:03] einsteinx2 commented on #26
Haha hasn’t seen this yet when I wrote the other comment

[2019-03-14 09:35] ricburton commented on #25
Works now. Weird. Will try snd recreate.

[2019-03-14 09:36] ricburton opened #30 "ERC20s not displaying"
Guessing this is API-related.

[2019-03-14 12:11] ricburton commented on #29
Startup time is too slow. Would be good to cache or have some kind of state in the app.

5 seconds for an empty table view is too long.

[2019-03-14 12:48] ricburton opened #31 "🦄 Display Uniswap Liquidity Pools"
The data could come from Graph Protocol:

https://github.com/graphprotocol/uniswap-subgraph

<img width="704" alt="Screen Shot 2019-03-14 at 12 48 23" src="https://user-images.githubusercontent.com/438160/54358104-77f2a300-4657-11e9-9452-b9bb6309a0d8.png">

[2019-03-14 12:49] ricburton opened #32 "Display Compound Returns"
EthView.app took it from the chain directly

* Compound - directly from the smart contracts

https://twitter.com/ethview/status/1104860336966950913

https://www.reddit.com/r/MakerDAO/comments/azgvur/i_made_a_site_that_lets_you_track_your_eth_defi/

[2019-03-14 13:22] ricburton opened #33 "💬 Add Intercom to the app"
Talking to customers is important. Monzo did great work on this.

https://github.com/intercom/intercom-ios

[2019-03-14 13:28] ricburton commented on #25
Keep trying to recreate. Can't so far. Weird.

Button needs to be blue though :)

[2019-03-14 13:32] ricburton commented on #25
Got it! It's on first install/use of the app. Doesn't happen when you've added and removed something.

https://cl.ly/a80348fb979f

[2019-03-14 13:38] ricburton opened #34 "💳 Actions Tab"
**Transactions**
- [ ] Send & receive ERC-20
- [ ] Send & receive ETH
- [ ] Send & receive xDAi

**Interactions**
- [ ] Signed message
- [ ] Maker CDP wipe/draw
- [ ] Compound add/remove/earn
- [ ] Uniswap add/remove/earn

https://github.com/status-im/status-react/issues/3050

[2019-03-14 14:02] ricburton opened #35 "🌚 Dark Mode"
I want to start thinking about this now.

[2019-03-14 16:44] einsteinx2 commented on #29
@ricburton keep in mind that slow startup time is only due to the free key rate limiting. When you use a real key it’s concurrent and will take like 1 second.

[2019-03-14 16:45] ricburton commented on #29
Yep just signed up for AmberData. Heard they’re legit.

[2019-03-14 17:06] ricburton commented on #32
<@422890621737500676> there are APIs for v1 -- check out https://compound.finance/developers
we are launching v2 in a bit, and will have new data & APIs (it's a new contract), but should overall be similar

[2019-03-14 17:44] ricburton commented on #35
One fun annual tradition is examining the poster art for WWDC and trying to surmise if it hints at anything that’s going to be announced. I’ll make one guess based on this year’s art: system-wide dark mode in iOS 13.

https://daringfireball.net/linked/2019/03/14/wwdc-2019-guessing-game

[2019-03-16 01:40] einsteinx2 commented on #26
Right now I'm just preventing it from saving duplicates. You can add UI around the failure case later.

[2019-03-16 01:41] einsteinx2 commented on #28
Also for this one, I'm just preventing it from happening, you can add UI around it later

[2019-03-16 01:42] einsteinx2 commented on #28
Or actually, I'll add a simple alert view for this one for now

[2019-03-16 01:49] #28 closed

[2019-03-16 01:52] einsteinx2 commented on #27
So we do some basic format checking already (though without feedback). I check if it starts with either 0x and is exactly 42 characters long or starts with ENS and is at least 4 characters long. Will need to discuss what options we have for better validation and how you want to present it to the user. For now I'll hold off on this.

[2019-03-16 02:08] #29 closed

[2019-03-16 02:10] einsteinx2 commented on #25
Probably just need to close the keyboard before closing the modal view, it probably happens the first time because it's closing multiple modal views and there's some iOS bug.

Also I'll swap the button graphic, we already have the blue one on the welcome screen :)

[2019-03-16 02:21] einsteinx2 commented on #33
Intercom is easy to integrate, but you have to sign up for an account first so I have the auth token. Once you have the account, share it with me and I'll get it integrated.

[2019-03-16 02:24] einsteinx2 commented on #25
Reproduced. Fixing now.

[2019-03-16 02:31] einsteinx2 commented on #25
Ohh actually it has nothing to do with the keyboard. It's due to how I dismiss the controller now. I just forgot to listen for the `CoreDataHelper.Notifications.ethereumWalletAdded` notification in TabBarController haha.

[2019-03-16 03:29] einsteinx2 commented on #25
Fixed that but there was actually another issue on first usage as well which I just fixed where it would never load until restarting the app

[2019-03-16 03:56] #25 closed

[2019-03-16 03:58] einsteinx2 commented on #24
Will get this sorted out tomorrow

[2019-03-16 04:01] einsteinx2 commented on #7
@ricburton you want to take this one? I don't know enough about the math behind CDPs to ensure I do it right.

[2019-03-16 08:37] ricburton opened #36 "🤷‍♂️ Showing WETH"
When no WETH?

[2019-03-16 08:45] ricburton commented on #36
Blockscout and Everex have this wrong.

@igorbarinov & @alexesnsk this is wrong in both of your services :/

Correct on Etherscan.

[2019-03-16 09:33] ricburton opened #37 "🔖 ENS Support"
Add that before launching :)

[2019-03-16 09:39] ricburton commented on #33
https://developers.intercom.com/installing-intercom/docs/ios-installation

[2019-03-16 10:00] ricburton opened #38 "👁 Setting the order of assets"
<img width="1198" alt="Screen Shot 2019-03-16 at 10 00 21" src="https://user-images.githubusercontent.com/438160/54473637-57028d00-47d2-11e9-93d9-b8f5eda8fe93.png">

[2019-03-16 13:37] igorbarinov commented on #36
BlockScout for Mainnet is not fully indexed. ETA is 20 days.
Sorry for the inconvenience.

[2019-03-16 13:38] ricburton commented on #36
No worries @igorbarinov. Just wanted to let you know 👍

[2019-03-16 18:01] wolffan commented on #24
I got a PR for hiding the tokens under $10
But not sure what expanding cells means ❓

[2019-03-16 18:09] einsteinx2 commented on #33
Got your message with the key, removed blocked tag

[2019-03-16 18:29] wolffan commented on #27
Make a request and check if that address has tokens? spinner while network request is performed and not enable button until comes back (bonus point if we pre-save that info so user don't need to wait again)

[2019-03-16 18:40] einsteinx2 commented on #27
yeah exactly what I was thinking (I meant to paste in my commend from Discord). We need to load the data anyway so we could load it first.

[2019-03-16 18:44] einsteinx2 commented on #27
My discord comment:

From what I found searching it seems like we only have three options:

1. use a simple regex to verify it is a possible address, but not necessarily an actual address

2. use the upper/lowercase format for addresses that includes essentially a built in checksum (but that's not great because many addresses aren't formatted that way)

3. use an API to see if the eth wallet exist

[2019-03-16 19:19] einsteinx2 commented on #24
Cells will hide all tokens under $10 total until the cell is tapped then it will animate and expand to show the rest. Tapping again will animate back to showing only the tokens with $10 or more value.

Working on this now.

[2019-03-16 19:22] einsteinx2 opened #41 "Update README with new developer info and style rules"
We should include info about how to get started with the project, dealing with keys, branch naming, CLA, etc plus some info on preferred code style to keep things consistent or the code will get messy real quick.

[2019-03-16 23:03] #24 closed

[2019-03-16 23:06] einsteinx2 commented on #41
@ricburton uploaded a README and as @wolffan suggested we should just use swiftformat rather than a style guide no one will read. Closing as done.

[2019-03-16 23:06] #41 closed, assigned to nobody

[2019-03-16 23:09] einsteinx2 opened #44 "Add CocoaPods-Keys for safe apikey storage"
Repo and instructions here: https://github.com/orta/cocoapods-keys

[2019-03-16 23:14] einsteinx2 commented on #44
Hmm actually the project has been dead for a few years and has issues piling up. Going to look for a different solution and something less intrusive.

[2019-03-16 23:14] #44 closed, assigned to einsteinx2

[2019-03-16 23:15] einsteinx2 opened #45 "Figure out a better way to safely store api keys"
Not using:
- Plist file with .gitignore: causes issues with Xcode workspace
- Cocoapods-keys: is a dead project, more complicated than it needs to be, has an outside application dependency, and has issues piling up

Going to go with this solution for now: https://medium.com/flawless-app-stories/secret-variables-in-xcode-and-your-ci-for-fun-and-profit-d387a50475d7

[2019-03-16 23:16] einsteinx2 commented on #33
Making coffee then implementing this

[2019-03-16 23:40] einsteinx2 opened #46 "Setup SwiftFormat for code formatting"
It can be automatically integrated with CocoaPods and will ensure that the code stays clean without having to write a code formatting guide that no one will read

https://github.com/nicklockwood/SwiftFormat

[2019-03-17 05:48] ricburton opened #47 "Google keyboard bug"
https://twitter.com/_tomhoward/status/1107156376613076992?s=21

[2019-03-17 05:55] thowar2 commented on #47
Ping if any questions

[2019-03-17 07:12] ricburton opened #49 "◻️Grey out the add button when a name isn't present"

[2019-03-17 07:13] ricburton opened #50 "♻️ Loading spinner after adding wallets"
After adding 5 wallets quickly and then heading back to Balance tab the app jammed up. Loading spinner there would be nice.

[2019-03-17 07:14] ricburton opened #51 "💻 API key onboarding in README"
Not sure of the best practice here. Will let @einsteinx2 comment.

[2019-03-17 17:06] einsteinx2 commented on #51
I have another ticket about finding the best api key storage solution. For now the free key for ethplorer is included in the code so it’ll still work.

@ricburton remember for now to replace the key in EthplorerAPI.swift with the real one before submitting TestFlight builds but make sure to undo the change right after so you don’t check it in automatically. I’ll have the proper api key storage sor

[2019-03-18 10:05] jamierumbelow opened #52 "Splash screen slightly off-centre on XR simulator"
Haven't tested on other devices:

<img width="584" alt="Capture d'écran 2019-03-18 09 55 03" src="https://user-images.githubusercontent.com/49284/54522395-040d0f00-4965-11e9-82e5-dbaa18fd58b6.png">

[2019-03-18 10:58] jamierumbelow opened #53 "Inconsistency between USD and $"
We should represent currencies consistently, either with the currency code (USD) or symbol ($):

<img width="402" alt="Capture d'écran 2019-03-18 10 18 08" src="https://user-images.githubusercontent.com/49284/54525569-66b5d900-496c-11e9-9d1d-0e29a458497f.png">

[2019-03-18 11:06] jamierumbelow commented on #45
Can we pull them from a server (AWS Key Management?) on initial load, then put them into the keychain?

[2019-03-18 18:39] einsteinx2 commented on #45
Not sure how that could work on a client app. In a server app, it implicitly has the credentials to pull the keys. In a client app we'd have to include the AWS credentials in the app and then anyone could pull our api keys. Also if they're loaded via network, it's trivial to MitM even if it's SSL, so anyone could just grab the keys that way too.

It could be argued that they could just grab the ke

[2019-03-18 18:41] wolffan commented on #45
If we can develop with no keys.
Put the keys into circle ci or any other service and use it to ship to appstore.
No one has the keys

[2019-03-18 18:52] einsteinx2 commented on #45
@wolffan for Ethplorer at least I have hard coded in the default free key when there are no keys found. So if you can set up CircleCI or another service to do the app store builds then that word work ok, but the reality is we do need to test using real keys (things like intercom), so having some way to store them locally without checking into git would be ideal.

I'm starting to think maybe we can

[2019-03-18 21:15] ricburton opened #54 "👆 Scroll issue over erc20s"
When I scroll up and down the screen pauses before showing the ERC-20 section.

Ideally it is just one smooth scroll from top to bottom—no matter how much data is there.

https://www.icloud.com/photos/#0lFxEpwYcffMwWGEjhmB3WjgA

[2019-03-19 06:30] ricburton opened #55 "💵 $0 --> $0.00"
Reformat any 0 number to 0. Make sure if the data is *not* available it is set to —.

It scares me when I see $0 and the reality is that the API has failed.

[2019-03-19 07:11] ricburton opened #56 "⛓ Refactor ERC20s so each line is a cell view"
Right now it's just one giant view. They need to be broken apart eventually so they can respond to tap targets.

[2019-03-19 07:23] ricburton opened #57 "📲 iPhone SE view tweaks"
<img width="392" alt="Screen Shot 2019-03-19 at 07 22 16" src="https://user-images.githubusercontent.com/438160/54587373-d3d27880-4a17-11e9-8281-b64198589363.png">
<img width="392" alt="Screen Shot 2019-03-19 at 07 20 14" src="https://user-images.githubusercontent.com/438160/54587374-d46b0f00-4a17-11e9-90dd-495b8a95164a.png">
<img width="392" alt="Screen Shot 2019-03-19 at 07 20 01" src="https://u

[2019-03-19 07:27] ricburton opened #58 "➗ Missing CDP ratio"
The ratio does not appear from time to time. Possibly something to do with my autolayout or hacky math code.
<img width="369" alt="Screen Shot 2019-03-19 at 07 26 28" src="https://user-images.githubusercontent.com/438160/54587582-6f63e900-4a18-11e9-93c3-008f04178c1c.png">

[2019-03-19 07:27] ricburton commented on #58
<img width="352" alt="Screen Shot 2019-03-19 at 07 27 34" src="https://user-images.githubusercontent.com/438160/54587599-7c80d800-4a18-11e9-9655-0fb2fa4b3cd9.png">

[2019-03-19 07:33] ricburton opened #59 "🖐 Add haptic feedback to add button and increase tap target"
Just to make it feel right.

[2019-03-19 07:54] ricburton opened #60 "👉 Add Wallet Switcher"
<img width="946" alt="Screen Shot 2019-03-19 at 07 50 58" src="https://user-images.githubusercontent.com/438160/54588765-bef7e400-4a1b-11e9-8f05-d771971c7cf0.png">

Lots of people want to be able to swipe between wallets and see the assets in each one—including me!

We need to rework the Balance tab so you can swipe or tap between the wallets. Default is All wallets, then show them based on the or

[2019-03-20 15:30] wolffan commented on #45
yeah as well,

[2019-03-21 00:34] einsteinx2 commented on #45
@wolffan was your comment meant to continue? haha

[2019-03-21 08:09] ricburton commented on #18
Added a hacky version of this.

[2019-03-21 08:11] ricburton commented on #54
This only happens with the wallet that has 150+ shitcoins.

[2019-03-21 15:43] zackshapiro commented on #45
@einsteinx2 One way to do it is the following

* Create Debug and Release plist files with keys and blank values or placeholder values
* Don't gitignore them
* In your AppDelegate, check the values for the keys and if the value is present, start the appropriate service

Something like:

* fetch plist file
* look for key, cast to String!
* if cast works, start the service that's needed for the key,

[2019-03-21 16:33] einsteinx2 commented on #27
For now, handled by https://github.com/balance-io/balance-ios/pull/61

[2019-03-21 16:33] #27 closed

[2019-03-21 20:33] #33 closed

[2019-03-22 01:20] #60 closed, assigned to einsteinx2

[2019-03-22 01:21] #52 closed, assigned to nobody

[2019-03-22 01:23] einsteinx2 commented on #54
It's because the table isn't loading the cell til you view it, and loading 150 views isn't going to happen in one frame haha.

Let me see what I can do to get it to load all cells at once.

[2019-03-22 01:32] einsteinx2 commented on #57
Looks like @jamierumbelow killed this one!

[2019-03-22 01:32] #57 closed, assigned to nobody

[2019-03-22 01:38] einsteinx2 commented on #37
Looks like we can either use this Swift port of web3.js https://github.com/argentlabs/web3.swift or we can just directly use web3.js using the iOS JS bridge https://stackoverflow.com/questions/37434560/can-i-run-javascript-inside-swift-code

First one would be more native, but possibly not updated as regularly or maintained as well...

But I think I'll try it first and see if it works well, and if

[2019-03-22 01:43] einsteinx2 commented on #45
@zackshapiro I'm essentially doing this now, but with a single plist. How does this end up working? If we're not git ignoring the release file, then when we update it to push a release it could get checked in right? Or am I missing something? Can you elaborate a bit on how this would be different from just using a single plist with blank keys and giving them only to people that need them?

Also th

[2019-03-22 01:44] einsteinx2 commented on #45
Taking this out of the app store milestone as it needs more time and isn't user facing.

[2019-03-22 02:06] einsteinx2 commented on #54
@ricburton So there's one problem with this. UI loading must happen on the main thread. So if I make this change, when we reload in the background the table may stutter a bit as the table reloads even if you're not looking at the cell. And we reload on every tab switch...

I'll implement it and see how it works out, we can switch back easily.

[2019-03-22 02:07] #54 closed, assigned to einsteinx2

[2019-03-22 05:21] ricburton opened #69 "✋ Detect when hotel wifi or New York internet is blocking stuff"
Crypto servers always get shitty treatment. Perhaps there are ways to let people who use our software know about blockages and not just show empty data.

[2019-03-22 05:43] ricburton opened #70 "Add wallet button broken"
I got stuck in this UI corner where it was scanning the address but not letting type a name. After lots of taps I typed a name but couldn’t save.

https://share.icloud.com/photos/062eDyHgqmVp1Jw1k_5jV3maw

[2019-03-22 12:09] ricburton opened #71 "🐌 Latency for lots of wallets"
It works fine for 2-3 wallets but it’s unacceptably slow for 4-10 wallets.

[2019-03-22 14:15] einsteinx2 commented on #71
Just to confirm you’re using the real ethplorer key not the free key right?

If so, I’m not sure what we can do about that, as we’re already loading concurrently.

It’s possible that doing it in batches of 3 or so would help, I think right now it just tries to load them all at once and that may be actually slowing things down.

[2019-03-23 11:06] ricburton commented on #11
<img width="649" alt="Screen Shot 2019-03-23 at 11 05 39" src="https://user-images.githubusercontent.com/438160/54865312-9c3b3780-4d5b-11e9-9a4a-b2d12c8c00ad.png">

@PierrickGT had this issue.

[2019-03-23 12:14] ricburton commented on #47
Lasse also had this

[2019-03-24 04:48] ricburton opened #72 "Typo"
Hey Richard. You may have already caught this but in case not... You've got a typo on your initial screen. Second word on line two should be "an" instead of "and". https://twitter.com/messages/media/1109617244286390276

[2019-03-24 07:12] #72 closed, assigned to nobody

[2019-03-24 07:20] #7 closed

[2019-03-24 07:35] ricburton opened #73 "👨‍👨‍👧‍👧 Code contributors highlighted in settings"
Show people's contributions to the code in the settings page. Load the data from GitHub and let the faces float by. I want to highlight all of the people who are generous enough to contribute their time and energy to the project.
<img width="790" alt="Screen Shot 2019-03-24 at 07 35 11" src="https://user-images.githubusercontent.com/438160/54876407-62276f80-4e07-11e9-9a20-0e073b2afea1.png">

[2019-03-24 09:03] wolffan commented on #70
let me look at this for you

[2019-03-24 09:05] wolffan commented on #71
mmm this is a hard one, unless we can request multiple addresses in a row, then the best way would be to load them async in parallel...

So the current approach needs to change... also we'd need to show we are loading them in parallel and or load them in background

[2019-03-24 09:12] wolffan commented on #70
Actually this screen has a bunch of issues... to begin with in iphone6 it's not quite good...
once the address is scaned the tick UI stays on top and there's no way of adding another wallet...

[2019-03-24 09:12] ricburton commented on #70
Yep that needs fixing for sure.

Richard
On 24 Mar 2019, 09:12 +0000, Raimon Lapuente <notifications@github.com>, wrote:

[2019-03-24 09:50] ricburton opened #74 "Make the UI flexible for larger text and numbers"
There’s lots of hard coded widths that break if someone sets their default font size to be larger or if the number is absurdly long. For example: a CDP with 10,000% collateralization.

[2019-03-24 10:56] wolffan commented on #47
Technically is not a but.
But as part of https://github.com/balance-io/balance-ios/pull/75 i've also changed the return button to "done" button when the text field has text, so it's more prominent to the user

<img width="378" alt="Screenshot 2019-03-24 at 11 53 01" src="https://user-images.githubusercontent.com/1092080/54878348-9ca30380-4e2b-11e9-8bbe-c1b8bb8fed5c.png">

[2019-03-24 10:58] ricburton commented on #47
Sweet! Did you test with Google Keyboard?

[2019-03-24 11:10] wolffan commented on #47
yes, same behaviour. You get the blue button (on the keyboard language)

[2019-03-24 13:39] ricburton opened #76 "🔥 Add support for xDai"
I want to see my xDai cash balance in Balance.

This is my test address: 0x66c8f011872555c7ab4777477e2b2714cc259866

[2019-03-24 16:08] ricburton opened #77 "Change "Name" to "Wallet nickname""
Abel put his own name in. That is clearly confusing.

[2019-03-24 16:08] #70 closed, assigned to wolffan

[2019-03-24 16:15] ricburton commented on #71
Perhaps load one wallet in the UI and then load the others in the background?

[2019-03-24 16:30] ricburton opened #78 "First character of Nickname hidden"
https://stackoverflow.com/questions/18543106/uitextfield-text-is-moving-on-edit

[2019-03-24 17:53] wolffan commented on #11
This was fixed by my PR @ricburton @einsteinx2

[2019-03-24 17:56] wolffan commented on #49
is this still valid @ricburton ?

[2019-03-25 06:20] ricburton commented on #49
You solved it—thanks!

[2019-03-25 06:20] #49 closed, assigned to nobody

[2019-03-25 06:48] wolffan commented on #49
I didn't @ricburton  i was asking if you still wanted this :)
Name check is not part of the validation (that there¡s a name that is)

[2019-03-25 06:48] wolffan commented on #59
Thats the add button on wallet screen?

[2019-03-25 06:48] ricburton opened #79 "🔢 Number changer for Balance as you swipe"
![195-counter-bar-wip](https://user-images.githubusercontent.com/438160/54900132-12f64300-4eca-11e9-9020-9dbe78b90fd3.gif)

I have had a number changing animation in my head for years. I want to get this into the app.

https://dribbble.com/shots/2586660-Counter-Bar-WIP

[2019-03-25 09:16] ricburton opened #80 "🐛Look into instabug"
What tool should I use?

[2019-03-25 10:49] ricburton commented on #45
Check if keys are missing before pushing to Testflight :P

[2019-03-25 11:11] ricburton opened #81 "👆 Pull to refresh"
Need to add this to Balance tab.

[2019-03-25 11:27] wolffan commented on #80
we can use the  own apple stuff or instabug :).

[2019-03-25 11:35] ricburton opened #82 "💬 Keep Intercom Operator away from tab bar"
Sometimes the chat bubble overlaps.

[2019-03-25 11:56] wolffan commented on #82
but the intercom bubble can be manually dragged right?

[2019-03-25 13:47] ricburton opened #85 "✴️ Add a special icon for $BAL hodlers"
This would be really fun.

[2019-03-25 14:00] ricburton opened #86 "💭 Intercom notifications"
Is that possible when I respond?

[2019-03-25 14:03] wolffan commented on #86
https://www.intercom.com/help/support-customers/respond-to-issues-quicker/respond-to-users-and-visitors-on-the-go

[2019-03-25 14:56] ricburton opened #87 "📷 Ask for the camera again"
"When I tried to add my ETH account I was unable to scan a QR code. My camera didn’t open and I could find no way to make it. I ended up having to paste my address. Are you aware of that? I am on an iPhone XS max"

We probably need to check for camera permissions every time.

[2019-03-25 14:58] mul1sh commented on #79
@ricburton i've forked the repo and looked at the code foe this issue and I believe I can tackle it it the next few days, thanks 🙂

[2019-03-25 15:06] wolffan commented on #87
about this... the whole screen needs some love.
Should we enable the camera upon request of a button? (this way we can retry that asking part). I'm not 100% sure if we can ask for permission multiple times tho.
Make the QR tappable would help?

[2019-03-25 19:24] ricburton opened #88 "Adding screen bugs getting people stuck"
In adding mode

[2019-03-25 19:30] ricburton commented on #88
<img width="852" alt="Screen Shot 2019-03-25 at 19 27 37" src="https://user-images.githubusercontent.com/438160/54948408-7a48dd00-4f34-11e9-8628-ce2256af23b4.png">

[2019-03-25 19:32] alvesjtiago commented on #88
@ricburton this is fixed on https://github.com/balance-io/balance-ios/pull/83

[2019-03-25 19:36] wolffan commented on #88
Probably fixed.
Try making new build

On Mon, Mar 25, 2019 at 8:30 PM Richard Burton <notifications@github.com>
wrote:

--
Raimon Lapuente
Twitter: @wolffan
CV: Website <http://raimonlapuente.com>
"No... try not! Do... or do not! There is no try... " -- Yoda

[2019-03-25 23:47] ricburton opened #89 "🔖 Enforce names or come up with a replacement"
![IMG_0908](https://user-images.githubusercontent.com/438160/54961366-3798fc00-4f58-11e9-9442-54a9b43cd16e.png)

I think `0x..31jy` for unnamed wallets would be good.

[2019-03-26 00:02] ricburton opened #90 "🔐 Ledger Nano X Integration"
**Link:** [Conversation with User bh3a](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21344161247)

**Customer:** [User bh3a](https://app.intercom.com/a/apps/j0fl7v0m/users/5c96901442601927f8655a16/all-conversations)
**Customer ID:** FD3E4979-B7FB-4A58-B0B4-BA6422CC075A
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-03-26 00:03] ricburton opened #91 "🙏 Dharma Integration"
**Link:** [Conversation with User smjx](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21344102977)

**Customer:** [User smjx](https://app.intercom.com/a/apps/j0fl7v0m/users/5c98d9aff20682a6a9b99326/all-conversations)
**Customer ID:** F999CBBD-42E9-4151-BB46-12F13311F23C
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-03-26 12:04] ricburton opened #93 "🤑 Decimal precision"
<img width="392" alt="Screen Shot 2019-03-26 at 11 51 12" src="https://user-images.githubusercontent.com/438160/54994976-90e74680-4fbd-11e9-87d7-8609afbd198c.png">

- [ ] **Number of tokens**

Bitcoin $4,000 --> I care about 0.001 BTC
Maker $600     --> I care about 0.01 MKR
Livepeer $7    --> I care about 0.1 LPT
Dai $1         --> I care about 1 DAI
Aragon $0.50   --> I care about 10 ANT

If a t

[2019-03-26 16:42] ricburton opened #94 "📊 Notifications for Stability Fee changes"
This is a high priority for the community.

[2019-03-26 16:55] ricburton opened #95 "🛡 $BAL badge"
Good feedback on hidden BAL token. It should unlock some cool UI

**Link:** [Conversation with User 9yde](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21343836113)

**Customer:** [User 9yde](https://app.intercom.com/a/apps/j0fl7v0m/users/5c98d4fefaab1f09283c9a96/all-conversations)
**Customer ID:** BD205122-AE92-4846-A2F1-FEF2E548C1D2
___
Intercom Operator will send a no

[2019-03-26 16:59] ricburton opened #96 "iPhone SE QR Code issue"
Same issue. Adding again to make sure they get a notification when it's fixed and shipped.

**Link:** [Conversation with User 1iok](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21357833498)

**Customer:** [User 1iok](https://app.intercom.com/a/apps/j0fl7v0m/users/5c9a0b5599b5d59f6fe78c55/all-conversations)
**Customer ID:** BBA2397A-08A1-4558-A3E6-7E86F7C3C705
___
Interc

[2019-03-26 17:03] ricburton opened #97 "WETH Data is wrong"
(Repeat issue but need to keep customer informed.)

**Link:** [Conversation with User ro6j](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21361601817)

**Customer:** [User ro6j](https://app.intercom.com/a/apps/j0fl7v0m/users/5c9a5611abc5de5ee7e86340/all-conversations)
**Customer ID:** 30DAA34A-1292-416A-9C36-59C0CDAEB057
___
Intercom Operator will send a note to [this co

[2019-03-26 17:12] wolffan commented on #94
how you get those changes? api?

On Tue, Mar 26, 2019 at 5:42 PM Richard Burton <notifications@github.com>
wrote:

--
Raimon Lapuente
Twitter: @wolffan
CV: Website <http://raimonlapuente.com>
"No... try not! Do... or do not! There is no try... " -- Yoda

[2019-03-26 20:16] ricburton commented on #71
Lazy loading in the background and defaulting to wallet screen could be a nice way to make it *feel* faster.

[2019-03-26 20:22] wolffan commented on #71
ok let me try to do this on the background thread. will be interesting i
haven't done any background in a while
BTW should we just show old values instead of wipe out all data? @einsten2x

On Tue, Mar 26, 2019 at 9:16 PM Richard Burton <notifications@github.com>
wrote:

--
Raimon Lapuente
Twitter: @wolffan
CV: Website <http://raimonlapuente.com>
"No... try not! Do... or do not! There is no try...

[2019-03-27 00:35] ricburton opened #98 "🦊 Make supported wallets clearer"
People can’t add Binance or Coinface

[2019-03-27 01:04] ropiku opened #99 "Wrong row background in setting"
See screenshot. Also those rows are not tappable but looks like they should ?

![IMG_1457](https://user-images.githubusercontent.com/312/55043032-346f4000-502c-11e9-87ad-a6249cf6fc65.png)

[2019-03-27 01:19] ropiku commented on #86
That's the agent app, you want the SDK config. You'll have to ask for push notification permissions: https://developers.intercom.com/installing-intercom/docs/ios-push-notifications

[2019-03-27 05:35] ricburton commented on #86
Thanks @ropiku I will look into that today

[2019-03-27 06:21] wolffan commented on #98
I don't think you can add wallets from exchanges...

On Wed, Mar 27, 2019 at 1:35 AM Richard Burton <notifications@github.com>
wrote:

--
Raimon Lapuente
Twitter: @wolffan
CV: Website <http://raimonlapuente.com>
"No... try not! Do... or do not! There is no try... " -- Yoda

[2019-03-27 07:32] delitzer opened #100 "Incorrect DAI balance in CDP"
Created a CDP and drew 400 DAI, but the Balance interface shows debt of only 396 DAI. All other numbers are correct and match what I see in the Maker CDP Portal.

[2019-03-27 11:20] ricburton commented on #94
@jamierumbelow has been investigating and chatting to @ghettodev

[2019-03-27 11:37] jamierumbelow commented on #11
Needs a loading indicator (when loading after switching tabs)

[2019-03-27 11:38] jamierumbelow commented on #94
We need to decide on the purpose of the notification. Alert that a stability fee _vote_ is upcoming, alert that a stability fee vote is likely to pass, or alert that the stability fee has just changed?

(I vote for all three, in an ascending order of priority.)

Whichever we choose, we probably shouldn't parse this on-device. We can track the governance poll on chain, but for upcoming votes we'll

[2019-03-27 11:59] ricburton commented on #69
Better offline/bad internet handling would be good.

2019-03-27 11:58:22.346402+0000 Balance[98299:23640364] TIC TCP Conn Failed [6:0x2836d0780]: 1:50 Err(50)
2019-03-27 11:58:22.363467+0000 Balance[98299:23640364] Task <AE68BAB2-3507-41FB-8F5B-46221F84EFD0>.<3> HTTP load failed (error code: -1009 [1:50])
2019-03-27 11:58:22.370372+0000 Balance[98299:23640409] Task <AE68BAB2-3507-41FB-8F5B-46221F8

[2019-03-27 12:02] jamierumbelow commented on #69
We can use this: https://github.com/ashleymills/Reachability.swift

To whomever implements it: remember to NOT do this on the main thread. Do it async, or else it'll freeze the app!

[2019-03-27 12:10] ricburton commented on #71
Is something quicker than the other? For example, are CDPs faster than ERC20s?

I think we have to try AmberData before launch. It is just far too slow.

[2019-03-27 12:10] ricburton commented on #71
"BTW should we just show old values instead of wipe out all data? @einsten2x"

Interesting. We'd need to make that clear.

[2019-03-27 14:26] jamierumbelow opened #102 "BAL should appear _regardless_ of value!"
![image](https://user-images.githubusercontent.com/49284/55083627-bd719000-509b-11e9-99dd-4351c748e7cd.png)

We should always show the one true coin:

<img width="537" alt="Capture d'écran 2019-03-27 14 24 28" src="https://user-images.githubusercontent.com/49284/55083826-0c1f2a00-509c-11e9-836b-5544bcd15ee3.png">

Also worth considering showing the top three _by coin holdings_ if the value of the

[2019-03-27 14:43] ricburton commented on #102
$BAL lyfe is key to life.

[2019-03-27 14:43] ricburton commented on #102
⚖️

[2019-03-27 16:28] #77 closed, assigned to ricburton

[2019-03-27 16:28] #81 closed, assigned to nobody

[2019-03-27 16:31] #88 closed, assigned to nobody

[2019-03-27 17:55] #89 closed, assigned to nobody

[2019-03-27 17:57] einsteinx2 commented on #87
yes I believe this is partly an iOS restriction. If you choose no I believe it won't ask again and you have to enable it in settings, though possibly we can prompt again if we have a user activated mechanism to enable the camera. I'll have to test.

[2019-03-27 17:57] einsteinx2 commented on #96
Weird... will look into this.

[2019-03-27 17:59] einsteinx2 commented on #11
Merged in loading indicator. That other bug should be a separate issue, but I'll leave this one open as-is for now.

[2019-03-27 18:00] einsteinx2 commented on #100
@ricburton I think this is the same calculation bug as the other ticket. Can you look at that and this one?

[2019-03-27 18:01] einsteinx2 commented on #69
The last time I used Reachability (that's just a Swift wrapper for Apple's code), checking specific URLs didn't work. But I can try again.

[2019-03-27 18:02] einsteinx2 commented on #82
No, we didn't use the default bubble, it's just a button in the nav bar

[2019-03-27 18:05] einsteinx2 commented on #71
Everything already loads in the background (all network calls) only UI loads in main thread which is an iOS requirement. That won't improve this.

My first hunch is that because I'm loading all wallets simultaneously, when there are too many it slows down as it's loading too much at once. I'll start by batching it into 2 or 3 at a time. If that doesn't help enough I'll look into AmberData.

Also w

[2019-03-27 18:06] einsteinx2 commented on #71
Regardless of what API we use, loading data for 10 wallets with hundreds of tokens is never going to be anywhere close to instant. Even if each API call takes less than a second we're still making 20 API calls (10 for ETH/tokens, 10 for CDP). Minimum would be like 5 seconds for 10 wallets if we wait to display data until everything is loaded. That's just the reality of being an API driven app.

So

[2019-03-27 18:48] einsteinx2 commented on #69
The last time I used Reachability (that's just a Swift wrapper for Apple's code), checking specific URLs didn't work. But I can try again.

[2019-03-27 18:48] einsteinx2 commented on #69
Actually even better, we could just better display loading errors. But the problem is it's difficult/impossible to tell the difference between your Wifi being bad or the service being down/slow.

[2019-03-27 18:49] einsteinx2 commented on #99
They are no currently implemented. The dark gray background and low opacity were meant to convey that they are not enabled, but it's probably better to just hide them altogether until they are.

@ricburton thoughts?

[2019-03-27 18:50] einsteinx2 commented on #102
Dupe of https://github.com/balance-io/balance-ios/issues/95

[2019-03-27 18:51] einsteinx2 commented on #102
Actually, re-reading that one it's not really a dupe as it mentions unlocking some UI.

[2019-03-27 18:54] einsteinx2 commented on #71
Going to start investigating this now. I'll start by batching the loads and see how that improves things. Then I'll look into reloading the UI as batches complete so stuff starts appearing on screen faster, then we can go from there.

[2019-03-27 18:59] raewkl commented on #87
If there was something that asked for permission it would be helpful if it just stayed open longer - I missed it completely.
It's also very common for a notice to come up letting the user know they've restricted permissions for camera use (at least this way they know its the iPhone and not the app!)

[2019-03-27 19:00] ricburton commented on #87
Great feedback @raewkl

[2019-03-27 19:12] einsteinx2 commented on #71
With no changes made yet and 6 wallets, this is what I'm getting:

Loading from MakerTools API took 1.8359860181808472 seconds
Loading from Ethplorer API took 4.0344929695129395 seconds
Loading from CoinMarketCap API took 0.4725019931793213 seconds

Note that Ethplorer and MakerTools load concurrently and CoinMarketCap loads afterward. So that means it took approximately 4.5 seconds to load everyt

[2019-03-27 19:13] wolffan commented on #71
i guess here we want to check 1 address vs 5 vs 10 ? ethplorer being the
slowest

On Wed, Mar 27, 2019 at 8:12 PM Ben Baron <notifications@github.com> wrote:

--
Raimon Lapuente
Twitter: @wolffan
CV: Website <http://raimonlapuente.com>
"No... try not! Do... or do not! There is no try... " -- Yoda

[2019-03-27 19:14] einsteinx2 commented on #71
@wolffan what do you mean exactly?

[2019-03-27 19:17] einsteinx2 commented on #71
More testing:

Loading Ethplorer addresses serially (one at a time with no wait in between):

First try:
Didn't save the results, but Ethplorer took like 15 seconds

Second try:
Loading from MakerTools API took 1.3827500343322754 seconds
Loading from Ethplorer API took 8.085067987442017 seconds
Loading from CoinMarketCap API took 0.22913193702697754 seconds

Third try:
Loading from MakerTools API

[2019-03-27 19:18] einsteinx2 commented on #71
Loading Ethplorer addresses 2 at a time:
Loading from MakerTools API took 1.527485966682434 seconds
Loading from Ethplorer API took 5.82160496711731 seconds
Loading from CoinMarketCap API took 0.35128700733184814 seconds

Loading from MakerTools API took 1.013382077217102 seconds
Loading from Ethplorer API took 3.9561569690704346 seconds
Loading from CoinMarketCap API took 0.05710792541503906 seco

[2019-03-27 19:18] einsteinx2 commented on #71
So yeah it looks like about 1 second per wallet on average may be the best we can get from Ethplorer. Keep in mind there may be a lower limit to how fast any API can return this data... It's returning a LOT of information: ETH balance, all token balances, and token prices

[2019-03-27 19:19] einsteinx2 commented on #71
For wallets with many tokens, this will be a lot of data...

[2019-03-27 19:22] einsteinx2 commented on #71
More testing loading all wallets concurrently:
Loading from MakerTools API took 1.3730030059814453 seconds
Loading from Ethplorer API took 2.610725998878479 seconds
Loading from CoinMarketCap API took 0.33163297176361084 seconds

Loading from MakerTools API took 2.1963460445404053 seconds
Loading from Ethplorer API took 2.6098040342330933 seconds
Loading from CoinMarketCap API took 0.1086159944534

[2019-03-27 19:22] einsteinx2 commented on #71
Tried switching from https to http, and got the same results:

Loading from MakerTools API took 1.4297399520874023 seconds
Loading from Ethplorer API took 2.986315965652466 seconds
Loading from CoinMarketCap API took 0.3184579610824585 seconds

[2019-03-27 19:23] einsteinx2 commented on #71
This is fully loading all data in approx 3.3 seconds for 6 wallets. That's about as good as it gets.

I think the main problem is that before Ethplorer caches the data, the responses are muuuch slower. Which is exactly the time when we don't have data to show (e.g. first app launch of the day)

[2019-03-27 19:24] einsteinx2 commented on #71
We can test AmberData to see if it's faster on initial loads, but the only answer may be to either show wallets one by one as they load or show cached data on launch with a clear message that it's cached.

[2019-03-27 19:24] einsteinx2 commented on #71
@ricburton thoughts?

[2019-03-27 19:29] wolffan commented on #71
Load wallet information every X time in the background unless user requests
it?

On Wed, Mar 27, 2019 at 8:24 PM Ben Baron <notifications@github.com> wrote:

--
Raimon Lapuente
Twitter: @wolffan
CV: Website <http://raimonlapuente.com>
"No... try not! Do... or do not! There is no try... " -- Yoda

[2019-03-27 20:18] borwahs commented on #59
Is anyone tackling this? I can jump on it if not.

[2019-03-27 21:31] einsteinx2 commented on #59
@borwahs you can take this one

[2019-03-27 21:34] einsteinx2 commented on #71
@wolffan I could see that being useful for the use case of the user leaves the app open as a monitor, but since the screen real estate on iPhone's is rather small and we already reload every time the user switches back to the app, I'm not sure it's necessary.

In any case, I think the biggest issue is the first load on launch. Waiting 5-10 seconds to see anything is pretty bad. Seeing old data isn

[2019-03-27 21:58] borwahs opened #104 "Slow Add Eth View Load Due to Camera Setup"
When clicking the "Add an Ethereum Wallet" button from the Welcome screen or when adding a second address from the Tab controller, there is a noticeable delay after touching the button until the View Controller starts to present (see gif below).

We can move the capture session `startRunning` call to a background thread and then set it as the preview layer when it completes. This will make things

[2019-03-27 21:59] borwahs commented on #104
I have a fix ready for this. Let me know if you want a PR from this issue or add it to a larger camera change.

[2019-03-28 00:03] borwahs commented on #87
Maybe something like this: https://pttrns.com/applications/459#5235

Show a custom view in place of the camera until they authorize explicitly. Can reuse the view if they remove access later, etc.

[2019-03-28 00:21] einsteinx2 commented on #87
@borwahs I assume there is some API to check if we're authorized? If we can use that, we could show an authorize button in that case, otherwise automatically load the camera. I think the first time we try to use it, it should automatically ask anyway, but in case it doesn't or they tap no, we could show that button and prompt an authorization if that's possible.

[2019-03-28 00:22] einsteinx2 commented on #87
We're at the mercy of iOS a bit here, so it all depends on what APIs we have available

[2019-03-28 01:07] ropiku commented on #99
You could just remove the disclosure indicator `>` and possibly add `WIP` to each row.

[2019-03-28 03:45] ricburton opened #106 "↘️ Add a close button to modals"
**Link:** [Conversation with User zfpz](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21364629998)

**Customer:** [User zfpz](https://app.intercom.com/a/apps/j0fl7v0m/users/5c9a72af0f40d57d791360e6/all-conversations)
**Customer ID:** EED87AEC-CF9E-4EE3-AA27-31AA24AC0713
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-03-28 03:56] ricburton opened #107 "Amhed cannot close keyboard"
**Link:** [Conversation with Amhed Herrera](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21384808129)

**Customer:** [Amhed Herrera](https://app.intercom.com/a/apps/j0fl7v0m/users/5c9c45c211462454a966ef1b/all-conversations)
**Customer ID:** 8ec24411-8ba2-4827-b561-7dd49d88f67d
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/

[2019-03-28 04:18] borwahs commented on #87
@einsteinx2 // yeah, we can leverage `AVAuthorizationStatus` to see what the user has decided for permissions. The only reason I suggested moving the dialog to an explicit ask is because of the double pop up (first the view, then the alert box).

[2019-03-28 04:19] ricburton commented on #87
@borwahs thanks! I love the way Obscura does permissions:

https://obscura.app/

[2019-03-28 05:22] borwahs commented on #87
@ricburton // cool. i can take a stab at something like it!

[2019-03-28 05:23] borwahs commented on #106
I have a PR ready for this I will push in morning once I test on my phone.

[2019-03-28 05:46] ricburton commented on #106
Oh sweet—thanks!

Richard
On 28 Mar 2019, 05:23 +0000, Rob Shaw <notifications@github.com>, wrote:

[2019-03-28 06:23] #106 closed, assigned to nobody

[2019-03-28 06:25] #104 closed, assigned to nobody

[2019-03-28 06:25] #59 closed, assigned to ricburton

[2019-03-28 06:52] ricburton opened #110 "🤑 Make the wallet screen beautiful"
the list of Eth wallets is a little dry. What about adding some colour there, like the coloured QR code thingy that you can find on mew or parity which identifies a wallet?

**Link:** [Conversation with User j0ur](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21352319077)

**Customer:** [User j0ur](https://app.intercom.com/a/apps/j0fl7v0m/users/5c9953ca14894db09f4d0505/a

[2019-03-28 06:54] ricburton opened #111 "🏷 Pricing for unlisted tokens"
- what about being able to set a price for some tokens? I know it's a bit of opening a can of worms in terms of features but I happen to order a few tokens whose value is not listed in CMC etc.

**Link:** [Conversation with User j0ur](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21352319077)

**Customer:** [User j0ur](https://app.intercom.com/a/apps/j0fl7v0m/users/5c995

[2019-03-28 06:55] ricburton opened #112 "Expand arrow for ERC-20s [Duplicate]"
**Link:** [Conversation with User j0ur](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21352319077)

**Customer:** [User j0ur](https://app.intercom.com/a/apps/j0fl7v0m/users/5c9953ca14894db09f4d0505/all-conversations)
**Customer ID:** 5A001CE8-F223-43FE-896F-8A9E70EB9E1D
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-03-28 14:03] ricburton opened #113 "Blue line for 1 wallet is confusing"
Will upload Sam’s confusion later

[2019-03-28 14:04] ricburton commented on #113
Hide slider when only one wallet?

[2019-03-28 15:22] ricburton commented on #97
https://app.intercom.io/a/apps/j0fl7v0m/inbox/inbox/conversation/21391922562#part_id=user-message-21391922562-333951871

[2019-03-28 16:05] ricburton opened #114 "👀 Pimp the other things that can be seen"
Highlight the other things that the app can show so people are encouraged to check out MakerDAO and Compound.

[2019-03-28 16:17] borwahs commented on #107
I ran into this as well on the Add ETH wallet view. Thinking of implementing the following:

- click anywhere on view (not keyboard) to dismiss.
- add toolbar above keyboard for dismiss.
- change return/dome key button actions

[2019-03-28 18:39] alvesjtiago commented on #96
Could this be related to https://github.com/balance-io/balance-ios/issues/88?

[2019-03-29 09:26] ricburton commented on #36
Duplicate of #97

[2019-03-29 09:26] #36 closed, assigned to nobody

[2019-03-29 09:27] #50 closed, assigned to nobody

[2019-03-29 09:27] igorbarinov commented on #36
@ricburton BlockScout for mainnet if fully indexed but we are still optimizing queries

[2019-03-29 09:28] ricburton opened #116 "📈 Try Amber Data"
They seem to have much better data and there are a lot of issues with Everex’s API. I *want* to pay for this.

I think it would solve a lot of other issues.

[2019-03-29 09:29] #30 closed

[2019-03-29 09:29] ricburton commented on #14
I think #116 would solve this.

[2019-03-29 09:30] ricburton commented on #71
I think #116 would solve this. Amber Data is better.

[2019-03-29 09:30] ricburton commented on #97
I think #116 will solve this.

[2019-03-29 09:33] ricburton commented on #96
Yep! Think this is fixed.

[2019-03-29 09:33] #96 closed, assigned to nobody

[2019-03-29 09:48] ricburton opened #117 "Make CDPs beautiful"
<img width="920" alt="Screen Shot 2019-03-29 at 09 47 28" src="https://user-images.githubusercontent.com/438160/55224157-d1d29b80-5207-11e9-86db-4fffe580b497.png">

I will make it look much better.

[2019-03-29 10:13] ricburton commented on #117
<img width="929" alt="Screen Shot 2019-03-29 at 10 12 45" src="https://user-images.githubusercontent.com/438160/55225751-3e02ce80-520b-11e9-9487-27c515137e58.png">
This is tighter.

[2019-03-29 12:16] #78 closed, assigned to nobody

[2019-03-29 12:17] ricburton opened #118 "Edit wallet names"
Add an option to the wallet popover screen above Share

[2019-03-29 12:53] ricburton opened #119 "iPhone SE wallet address overflow"
Needs to wrap onto 2 lines on SE

[2019-03-29 14:35] einsteinx2 commented on #11
I'll double check that the loading indicator is displayed when loading on tab switch.

[2019-03-29 14:36] einsteinx2 commented on #11
Looks like the screenshotted issue was due to network connectivity or API outage. The only real solution I can think of is to show some kind of failure message after some timeout and auto-reload.

[2019-03-29 14:41] #17 closed

[2019-03-29 14:52] borwahs commented on #87
I can take this one on if @einsteinx2 is cool with it.

[2019-03-29 14:59] einsteinx2 commented on #45
Going to go with this solution for now: https://medium.com/flawless-app-stories/secret-variables-in-xcode-and-your-ci-for-fun-and-profit-d387a50475d7

Though I'm going to hold off til app store release is ready to save time.

For now, the apikeys.plist file is git ignored, so when you want to submit or just test with real keys, drag it into the project and at worst if you check in the change to th

[2019-03-29 15:04] einsteinx2 commented on #116
Working on this now.

[2019-03-29 15:10] einsteinx2 commented on #116
Looks like the amberdata subscription needs to be upgraded to use the APIs we need so I can't work on this yet.

[2019-03-29 15:34] borwahs commented on #118
I can jump on this issue.

[2019-03-29 15:40] einsteinx2 commented on #118
@borwahs go for it :)

Looks like we'll need the extra button to pop up either an alert view with a text field to edit or a custom UI (might need input from @ricburton on that)

[2019-03-29 18:20] borwahs commented on #118
@einsteinx2 - yeah, I am thinking of trying something simple with just making the Label field editable on the pop up. But that also might be a bit “hacky” feeling. I can play around with it. Any suggestions @ricburton, let me know!

[2019-03-30 00:21] einsteinx2 commented on #71
Looks like we may need to ship with Ethplorer and upgrade to Amberdata when their API is ready based on their email responses. Or possibly use another solution altogether, like our own backend to get the data the fastest.

[2019-03-30 00:21] einsteinx2 commented on #104
@borwahs in general I'm all for smaller PRs rather than grouping things. Easier to review and reduces merge issues.

[2019-03-30 00:53] einsteinx2 commented on #53
@ricburton we also use $ in other places like the fiat values in the balance table view cells. Do you want me to change everything to USD?

[2019-03-30 00:54] einsteinx2 commented on #14
Marking blocked as we can't switch to Amberdata yet

[2019-03-30 01:17] einsteinx2 commented on #55
So for the "—" part, I tried it out and it looks pretty bad when looking at tokens. So I'll just use a blank label instead.

<img width="449" alt="Screen Shot 2019-03-29 at 8 16 05 PM" src="https://user-images.githubusercontent.com/350423/55269291-9663bb80-525f-11e9-96b0-b9803858f00f.png">
<img width="433" alt="Screen Shot 2019-03-29 at 8 16 42 PM" src="https://user-images.githubusercontent.com/35

[2019-03-30 01:19] #55 closed, assigned to ricburton

[2019-03-30 01:35] einsteinx2 commented on #47
Can confirm this is fixed on my phone as well.

[2019-03-30 01:35] #47 closed, assigned to einsteinx2

[2019-03-30 01:36] einsteinx2 commented on #93
This is partly done already now I think

[2019-03-30 01:39] einsteinx2 commented on #97
Marking blocked as we can't move to Amberdata yet

[2019-03-30 01:40] einsteinx2 commented on #71
Marking blocked as we can't move to Amberdata yet

[2019-03-30 01:42] einsteinx2 commented on #87
From a quick search, it looks like we can't actually prompt again, but we can detect it and explain to them what to do to enable it (and possibly open the settings page): https://stackoverflow.com/questions/26070393/is-there-a-way-to-ask-user-for-camera-access-after-they-have-already-denied-it-o

@borwahs Absolutely, I'll remove myself as the assignee and move to in progress.

[2019-03-30 01:43] einsteinx2 commented on #11
Loading indicator doesn't show on tab switch. I'll add that.

[2019-03-30 02:15] borwahs commented on #87
@einsteinx2  // ah, I missed what you meant by that. I was thinking we would show a little notice in the camera view area if they have denied permissions telling them to go back to Settings to get it back.

Should I keep the initial permission ask the first time you ask to add a wallet? Or should I make it explicit (show a little info in the camera view saying we want permission to scan QR codes)?

[2019-03-30 02:18] borwahs commented on #104
@einsteinx2 // agreed! just wanted to make sure I followed how you like to do things.

[2019-03-30 04:54] borwahs commented on #117
If you need help with this one, I can knock this out Sunday.

[2019-03-30 04:54] borwahs commented on #87
Also, I’ll have this one ready by sunday.

[2019-03-30 05:45] ricburton opened #125 "Nameless and 0 tokens"
<img width="310" alt="Screen Shot 2019-03-30 at 05 43 57" src="https://user-images.githubusercontent.com/438160/55272056-d8681e00-52ae-11e9-991b-42b82154aec5.png">

I think I introduced some bugs with the decimal stuff. Some are showing nothing.
<img width="306" alt="Screen Shot 2019-03-30 at 05 45 11" src="https://user-images.githubusercontent.com/438160/55272085-04839f00-52af-11e9-9710-4f9356b0c

[2019-03-30 11:18] ricburton commented on #53
No I’ll take care of this. Just playing with different things. USD is ugly.

Richard
On 30 Mar 2019, 00:53 +0000, Ben Baron <notifications@github.com>, wrote:

[2019-03-30 16:31] einsteinx2 commented on #53
Yeah figured I should ask you first ;)

[2019-03-30 16:36] einsteinx2 commented on #87
@borwahs Sounds like you've got the right idea exactly. First time use let's keep it exactly the same as it is now, e.g. automatic prompt. If they say no, going forward we show them the notice explaining the denied permission and telling them to go to settings (with a button to go directly to the page if it's possible).

[2019-03-30 16:56] einsteinx2 commented on #37
Actually @wolffan pointed me to an ENS implementation based on the other web3swift framework.

Here's the example code: https://github.com/AlphaWallet/alpha-wallet-ios/blob/master/AlphaWallet/Tokens/Coordinators/GetENSOwnerCoordinator.swift

I'm going to see if I can fork the web3swift repo (https://github.com/matter-labs/web3swift), add the ENS support, and make a PR back to them rather than doin

[2019-03-30 16:56] #119 closed, assigned to ricburton

[2019-03-30 17:19] #11 closed

[2019-03-30 17:26] einsteinx2 commented on #86
@ricburton btw when you're actively working on a ticket, drag it over to the In Progress section of the Kanban board ;)

[2019-03-30 17:27] einsteinx2 commented on #71
As per my discussion with @ricburton, for now we'll load the first wallet first (maybe adding a way to explicitly set your primary wallet), so we show data in a second or so, then immediately load the others.

[2019-03-30 21:30] wolffan commented on #113
Trying to get around this, the UI code won't be nice...

[2019-03-30 21:51] wolffan commented on #113
Ok I've removed the menu so long we have only 1 screen.
This mean if you have 1 or multiple wallets and there's no horizontal scrolling i'll hide the menu @ricburton

[2019-03-30 23:55] ropiku opened #130 "Nuo integration"
Similar to Dharma #91 but might be tricky. Money goes to a smart [contract](https://etherscan.io/address/0xEAb2b18a2EC611C6373D7BF4cE4F3Bf4413E5274#tokentxns) and out to their pool [contract](https://etherscan.io/address/0x802275979b020f0ec871c5ec1db6e412b72ff20b#tokentxns).
Might need an API from them but would be awesome to track !

[2019-03-31 07:33] #113 closed, assigned to nobody

[2019-03-31 07:42] ricburton opened #131 "AutoLayout Bug"
This is just popped up. Adding an issue to remind myself to look into it.

[code]

[2019-03-31 08:02] ricburton opened #132 "🔘 Button overlap on settings on iPhone SE"
A little overlap
<img width="392" alt="Screen Shot 2019-03-31 at 09 01 55" src="https://user-images.githubusercontent.com/438160/55286426-bb594b00-5393-11e9-9024-ae8644a1cc29.png">

[2019-03-31 08:02] wolffan commented on #131
I think that may be my fault i'd need a screenshot if you have one because i don't have all i need to do the screen fully

[2019-03-31 08:04] ricburton opened #133 "Add @borwahs to the settings screen."
Shrink all the heads and add @borwahs image.

[2019-03-31 10:26] ricburton opened #138 "Dummy data for offline dev"
Would be nice to have a way to keep developing UI when I’m not on Internet.

[2019-03-31 17:32] #107 closed, assigned to nobody

[2019-03-31 17:33] #132 closed, assigned to ricburton

[2019-03-31 17:37] #131 closed, assigned to ricburton

[2019-03-31 17:42] #46 closed, assigned to nobody

[2019-03-31 18:30] #71 closed, assigned to einsteinx2

[2019-03-31 20:45] ricburton commented on #117
This still needs love from me.

[2019-03-31 21:01] ricburton opened #142 "⚰️ For liquidated CDPs, replace numbers with liquidate status?"
Just an idea. Make the live ones with high risk higher up

[2019-03-31 21:07] ricburton opened #143 "Cryptonex Cryptonite"
Hiding the longer names

<img width="348" alt="Screen Shot 2019-03-31 at 22 03 27" src="https://user-images.githubusercontent.com/438160/55295050-d8783300-5400-11e9-9499-e0798067ffc9.png">

[2019-03-31 21:14] ricburton commented on #130
Thanks for the request! I will definitely keep a tab on Nuo as it grows.

[2019-03-31 21:27] borwahs commented on #118
haven’t thought up a good idea. I am not sure an Edit button will fit on the SE screen size.

maybe a settings icon that flips the qr code and can edit?

@ricburton

[2019-03-31 21:45] ricburton commented on #86
This was a weird one:

https://cl.ly/acdba8c4f2c9

[2019-03-31 22:06] ricburton commented on #86
Fixed it. Will *push* shortly :)

[2019-03-31 23:27] ricburton opened #144 "Show loading spinners next to loading wallets"
Right now the loading process freezes the UI and makes it a bit janky.

Would be nice to show the loading wallets in the menubar above and then just hide the spinnner when the data is ready.

[2019-04-01 10:18] ricburton commented on #93
"upgraded on TestFlight and it says I have 0 $BAL"

[2019-04-01 10:19] #86 closed, assigned to ricburton

[2019-04-01 10:19] #117 closed, assigned to ricburton

[2019-04-01 10:19] #110 closed, assigned to ricburton

[2019-04-01 10:20] #133 closed, assigned to nobody

[2019-04-01 10:21] ricburton opened #146 "PETH / ETH mixup"
I am showing PETH instead of ETH.

Probably show both?

[2019-04-01 11:52] tomjohnburton opened #147 "Open keyboard prevents immediate adding of wallet to watchlist"
Steps to reproduce
1. Paste address of wallet
2. Add a name
3. without closing the keyboard press "Add wallet to watchlist"
4. Nothing happens, keyboard closes.
5. Press again
6. Wallet added to watchlist

[2019-04-01 15:03] #87 closed, assigned to nobody

[2019-04-01 18:03] #45 closed, assigned to einsteinx2

[2019-04-01 18:06] einsteinx2 commented on #118
@borwahs as discussed in Discord, you can just use a simple UIAlertViewController with a name text field and cancel/save buttons

[2019-04-01 18:07] einsteinx2 commented on #93
@ricburton how many do they actually have?

[2019-04-01 18:09] einsteinx2 commented on #125
@ricburton So not every token has a symbol registered within their smart contract... So it's impossible to get their token name.

The only thing we have is the contract address. Let me know what you want to do.

[2019-04-01 18:11] einsteinx2 commented on #98
Depends on the exchange. Some use a single wallet per user that doesn't change (for example Wyre), but I think that's only for deposits and presumably they get moved out to a pool, so you're right it probably won't work with any exchange.

[2019-04-01 18:11] einsteinx2 commented on #98
Maybe we should just make it clear only personal wallets are supported

[2019-04-01 18:11] einsteinx2 commented on #82
@ricburton What do mean by "Intercom Operator"?

[2019-04-01 18:13] einsteinx2 commented on #69
@ricburton so as mentioned, we can show a generic loading error which we don't do now, but other than that there's no other real solution to this, at least not any reliable one I'm aware of, though we could look into this more in the future. Want me to add an error message field at the top that shows whenever loading fails for the time being?

[2019-04-01 18:16] einsteinx2 commented on #116
From their responses, it actually sounds like they won't be the solution for us. If we don't mind holding user data (and dealing with GDPR compliance as well as security issues...) and running a server, that will always be the fastest way (loading continually on the backend and returning everything to the user in one customized API call). But I'd reeeeeally like to avoid this.

Otherwise, one of t

[2019-04-01 19:13] ricburton commented on #69
Yes please! This can be worked on more later

[2019-04-01 19:14] ricburton commented on #116
Let's close this for now.

[2019-04-01 19:16] ricburton commented on #93
@einsteinx2 20 with no value. my fault :)

[2019-04-01 19:17] ricburton commented on #93
This is related to #125. Will try to fix.

[2019-04-01 19:22] ricburton commented on #69
<img width="433" alt="Screen Shot 2019-04-01 at 20 20 43" src="https://user-images.githubusercontent.com/438160/55353624-b394c600-54bb-11e9-8615-a1d148d57364.png">

It happens to me when I tether and run the app in Simulator. I wonder if a good heuristic is: if Maker CDPs are found and no ERC20 balances, then present some kind of warning?

[2019-04-01 19:27] einsteinx2 commented on #69
Keep in mind Simulator will never be a true representation, it may be a simulator only thing, or a tethering only thing who knows. But at least for now we can show a nice message like "Failed to load wallet balances" or "Failed to load Maker CDPs" or something so at least they understand what happened.

[2019-04-01 19:29] ricburton commented on #69
Yeah perfect. I hate silent fails. Apple does a lot of those now.

[2019-04-01 19:47] ricburton opened #149 "Hide Tokens section when there are none"
This could be related to #69

[2019-04-01 22:40] borwahs commented on #147
My guess is https://github.com/balance-io/balance-ios/pull/136 introduces this since it is putting a layer above the view to dismiss the keyboard (so the button press isn't actually being recorded).

[2019-04-02 08:11] ricburton commented on #22
Seeing lots of issues with maker data which are likely my fault. Makes me nervous to ship just yet.

Discrepancy between CDP web app and mobile app must *never* happen.

"Might this be subtracting my stability fee instead of adding what I would owe to close it?"

Going to spend time on this today.

If the numbers are ever out of sync then people will lose faith in Balance's ability to accurately s

[2019-04-02 08:12] ricburton commented on #147
Thanks for the report, @tomjohnburton <3

[2019-04-02 08:13] #147 closed, assigned to nobody

[2019-04-02 10:37] ricburton commented on #22
Notes from @obsidion on Maker’s Rocket Chat:

love your work on Balance btw 🙂
so we use a GraphQL endpoint for pulling in certain data in the CDP Portal that we can't easily get via Web3 (mostly CDP event history and CDPs by owner)

the kovan endpoint is: https://sai-kovan.makerfoundation.com/v1 (currently a little out of sync)
the mainnet endpoint is: https://sai-mainnet.makerfoundation.com/v1
yo

[2019-04-02 10:59] ricburton commented on #22
CDP 420 Example

<img width="1397" alt="Screen Shot 2019-04-02 at 11 35 48" src="https://user-images.githubusercontent.com/438160/55397721-be446f00-553e-11e9-9b58-258cf3e35952.png">

`curl 'https://sai-kovan.makerfoundation.com/v1' -H 'Origin: https://cdp.makerdao.com' -H 'Content-type: application/graphql' --data-binary 'query { getCup(id: 420) { actions { nodes { act arg guy tx time ink art per

[2019-04-02 11:10] ricburton opened #153 "☝️ iPhone XSMax swipe-to-refresh distance is too far"
- I'm using an iPhone XSmax (big!) and the amplitude of the swipe down I have to do to refresh the wallet content could be a tad smaller :)

**Link:** [Conversation with arthurdbonnet@gmail.com](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21352319077)

**Customer:** [arthurdbonnet@gmail.com](https://app.intercom.com/a/apps/j0fl7v0m/users/5c9953ca14894db09f4d0505/all-co

[2019-04-02 12:02] ricburton commented on #146
API shows PETH and not ETH

[2019-04-03 09:31] ricburton commented on #32
https://compound.finance/developers#get-supply-balance

[2019-04-03 09:33] ricburton commented on #32
curl -v --header "Content-Type: application/json" --header "Accept: application/json"
--header "compound-api-key: XXX" \
--data '{"page_size":100,"page_number":1, "min_borrow_value_in_eth":{"value":"0"}, "max_collateral_ratio":{"value":"2"}}' \
"https://api.compound.finance/api/risk/v1/get_account_values"

[2019-04-03 10:46] ricburton opened #156 "🕶 Private Analytics"
I want to track how often people use the product and the rough dollar value of the assets they look at.

Balance *will never* store identifying information about customers such as:

Their wallet names
Their wallet addresses
Their specific holdings
Any data that could identify them at all

[2019-04-03 13:19] Samellenrider commented on #85
![Uploading Screenshot 2019-04-03 at 15.16.49.png…]()
Like this? Ballin!

[2019-04-03 13:31] Samellenrider commented on #85
<img width="280" alt="Screenshot 2019-04-03 at 15 16 49" src="https://user-images.githubusercontent.com/29458215/55482742-76e4de00-5625-11e9-9636-918f3d4657b8.png">
Like this?

[2019-04-03 14:00] ricburton opened #157 "🌵If someone only has dust, show the dust"
Someone just had low value tokens

[2019-04-03 14:01] ricburton commented on #157
![2543A5F7-E451-40DA-AB53-973F34019E90](https://user-images.githubusercontent.com/438160/55484925-4b5ff480-5621-11e9-88c6-827dfa6198a4.jpeg)

[2019-04-03 14:01] Samellenrider commented on #85
What do you think is the best way to check if the user hodls BAL? Listen to the API or wait until the information is rendered? There's a relatively "easy" way to swap the icon but I need to create a sender that triggers the swap function.

[2019-04-03 14:02] jamierumbelow commented on #157
I'm working on the 'other balances' dropdown and have rewritten a little of the token ordering code to do so, so I'll do this along the way.

[2019-04-03 14:03] ricburton commented on #85
Haha Sam love it. Let’s chat in Discord about ideas..

You should be able to tell from the tokens being loaded. @jamierumbelow will have ideas

[2019-04-03 18:47] ricburton commented on #85
<img width="1315" alt="Screen Shot 2019-04-03 at 19 46 57" src="https://user-images.githubusercontent.com/438160/55504685-4878fa00-5649-11e9-9211-1379ddadad0a.png">

Here's what I had in mind @Samellenrider :)

[2019-04-03 18:47] ricburton commented on #85
This is borrowed from: https://buffer.com/app

[2019-04-03 18:48] ricburton commented on #32
<img width="426" alt="Screen Shot 2019-04-03 at 19 48 27" src="https://user-images.githubusercontent.com/438160/55504783-78c09880-5649-11e9-824e-a5f999002436.png">

[2019-04-03 18:53] ricburton commented on #85
<img width="537" alt="Screen Shot 2019-04-03 at 19 53 33" src="https://user-images.githubusercontent.com/438160/55505078-33509b00-564a-11e9-94a4-4b53df8cc80e.png">

We need a hype squad.

[2019-04-03 20:31] borwahs commented on #156
Any thoughts on using an existing service? Or roll your own?

[2019-04-03 21:06] ricburton commented on #156
We tried Piwik for Balance Manager. I was wondering if a 3rd party service had good privacy.

[2019-04-03 21:43] borwahs commented on #73
I messed around with a scrolling view. It was too bland. Going to try and find a nice floating animation where they maybe mimic the lines in the background at different speeds.

[2019-04-03 21:50] ricburton commented on #73
That would be great!

Richard
On 3 Apr 2019, 22:43 +0100, Rob Shaw <notifications@github.com>, wrote:

[2019-04-03 22:58] ricburton commented on #32
Waiting for v2 in mid april

[2019-04-04 01:42] #118 closed, assigned to nobody

[2019-04-04 01:44] #112 closed, assigned to jamierumbelow, ricburton

[2019-04-04 01:52] einsteinx2 opened #158 "Hide "Maker Loans" section when there are no CDPs"
Right now it shows the header with an empty section, it should just show my ETH and tokens.

[2019-04-04 06:23] ricburton opened #159 "🗂 Card Interface"
![iPhone X apps scolling](https://user-images.githubusercontent.com/438160/55533878-a0941880-56aa-11e9-9819-3e28a39aa11b.png)

I think making each section into a card will make the UI a lot clearer.

The section headers can slide over the top of the cells so the card feels like it is compressing.

[2019-04-04 06:41] wolffan commented on #156
So what's what you want?
Paid or free?
Self hosted or hosted by 3rd party?
Good Privacy (which means they don't sell or own your data)? (also probaby if you want good privacy means you'll have to pay or setup own server)

[2019-04-04 06:58] ricburton commented on #156
Paid
Not sure—asking for help.
Curious if App Store Connect Analytics is enough
https://developer.apple.com/app-store-connect/analytics/

[2019-04-04 07:09] wolffan commented on #156
App Store Connect will only provide information about "app" (installs, visits on the appstore vs installs), users, dailies and other generic metrics.
For specifics on what you want... uf doing some research there's not a hole lot... privacy focused only Fathom or Simple Analytics (none provide sdk so more work to make something around).
https://count.ly can be paid out hosted or free in house (tha

[2019-04-04 07:13] ricburton commented on #156
Great to know—thanks!

[2019-04-04 07:15] ricburton opened #160 "👻 0x no-name wallets dissappear"
<img width="595" alt="Screen Shot 2019-04-04 at 08 12 57" src="https://user-images.githubusercontent.com/438160/55536441-a6d9c300-56b1-11e9-81c9-9cd8e2b58cd0.png">

If you add a bunch of wallets with no name and then pull-to-refresh, the names disappear.

100 $BAL to troopy for the report.

[2019-04-04 07:17] ricburton opened #161 "💧 Hide Empty/Liquidated Maker Loans"
If they have $0 DAI they are wasting space.

[2019-04-04 07:18] ricburton opened #162 "🥇 Auto-rank wallets by balance"
By default, wallets should be rank ordered by their total value.

[2019-04-04 09:25] #157 closed, assigned to jamierumbelow

[2019-04-04 16:51] borwahs commented on #158
@jamierumbelow // I meant to comment on this last night. I am almost done with an implementation if you haven't already started. Otherwise I will let you take it on!

[2019-04-04 16:52] ricburton commented on #158
Oh thanks @borwahs!

[2019-04-04 16:54] borwahs opened #163 "App Crashing on Load"
Creating this mostly to remember to look into my logs when I get back to a computer.

- [x] Figure out version.
- [x] Pull logs.

[2019-04-04 16:54] ricburton commented on #163
Not good—how did this happen? :)

[2019-04-04 17:13] jamierumbelow commented on #158
@borwahs Nope, it’s all yours!

[2019-04-04 18:47] borwahs commented on #163
We can disregard this one... I thought it was the build from Testflight but it was one I installed on my phone locally via Xcode and the provisioning profile got disabled on my device. My bad!

One thought I had was having a separate config for local builds to use a different name (Balance.dev).

[2019-04-04 18:47] #163 closed, assigned to nobody

[2019-04-04 19:54] borwahs commented on #160
Just FYI, this happens with even just one no-named wallet. Looking into a fix.

[2019-04-04 20:28] #160 closed, assigned to jamierumbelow

[2019-04-04 20:32] borwahs commented on #159
This is 🔥!

[2019-04-04 20:40] #125 closed, assigned to ricburton

[2019-04-04 20:40] #100 closed, assigned to ricburton

[2019-04-04 21:02] ricburton opened #166 "📈 Display UMA USStocks Token Clearly"
The USStocks Token is amazing:

https://medium.com/uma-project/announcing-us-stock-index-token-powered-by-uma-and-dai-c394586c575a

<img width="448" alt="Screen Shot 2019-04-04 at 22 01 25" src="https://user-images.githubusercontent.com/438160/55588266-3e2c2e00-5725-11e9-953b-9dfdf7b80b6e.png">

https://etherscan.io/token/0x36774fbca6b17325947cb208f77b4871ac7b6217

It would be great to get some cu

[2019-04-05 09:40] #158 closed, assigned to jamierumbelow

[2019-04-05 09:50] ricburton opened #167 "⚠️ Don't ask for notifications on startup"
It's a bad first experience to be asked about the notifications for Intercom.

I think there should be a way to request permission *if* they tap the chat icon or send a support request.

[2019-04-05 09:53] ricburton opened #168 "☠️ FIRST LAUNCH FAIL: Silently spinner of death"
I added a wallet on iPhone SE. The spinner is just spinning for 30+ seconds and nothing is changing. If this was the first time I used the app I would never use it again.

[2019-04-05 09:53] ricburton commented on #168
If you kill the app and refresh it, it works fine.

Looks like this was a *first wallet addition* issue.

[2019-04-05 09:55] ricburton commented on #168
I think it's because the Balances screen is not registering that a first wallet has been added.

[2019-04-05 13:18] ricburton opened #171 "⬇️ White space when there are no "Other balances""
**Link:** [Conversation with User 419m](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21468801670)

**Customer:** [User 419m](https://app.intercom.com/a/apps/j0fl7v0m/users/5ca42cd04eb315fab0c8e5f5/all-conversations)
**Customer ID:** 82EFE629-2F27-4AC4-8C9E-010C37544547
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-04-05 13:19] ricburton opened #172 "💯 Overflowing tokens for quadrillions"
**Link:** [Conversation with User 419m](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21468801670)

**Customer:** [User 419m](https://app.intercom.com/a/apps/j0fl7v0m/users/5ca42cd04eb315fab0c8e5f5/all-conversations)
**Customer ID:** 82EFE629-2F27-4AC4-8C9E-010C37544547
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-04-05 13:34] jamierumbelow commented on #171
Do you have a wallet to test this? I think I've fixed it...

[2019-04-05 13:35] ricburton commented on #171
I’ll ask the person.

Richard
On 5 Apr 2019, 14:34 +0100, Jamie Rumbelow <notifications@github.com>, wrote:

[2019-04-08 03:41] borwahs commented on #159
Made a little bit of progress. Here is a playground I have that shows the Tableview with Card like sections. Still has some bugs (bottom right footer corner).

[tableviewshadow.playground.zip](https://github.com/balance-io/balance-ios/files/3052521/tableviewshadow.playground.zip)

<img width="362" alt="Screen Shot 2019-04-07 at 11 42 38 PM" src="https://user-images.githubusercontent.com/2594892/55

[2019-04-08 05:20] ricburton commented on #159
Excited to check this out!

[2019-04-08 10:38] ricburton opened #174 "Check language formatting on numbers"
**Link:** [Conversation with User bgtm](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21525380924)

**Customer:** [User bgtm](https://app.intercom.com/a/apps/j0fl7v0m/users/5ca3c33c7af6b51cbd604965/all-conversations)
**Customer ID:** A055707D-23DC-4EC0-972B-B77E779BCC9C
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-04-08 12:16] borwahs commented on #174
@ricburton // are we looking at the numbers on the right? Assuming they should use , instead of .

[2019-04-08 13:46] borwahs commented on #159
Nothing special yet. Mainly trying to get the format of the UITableView right. Curious how you feel on the dropshadows and rounding (want to make sure it is close). Couldn't match the Figmaas well as I would have liked.

I also needto get the top of the UITableView to start about 10-20 pixels down.

[2019-04-08 14:30] borwahs commented on #159
Here is an updated version. Getting closer.

![Kapture 2019-04-08 at 10 29 02](https://user-images.githubusercontent.com/2594892/55732037-3e5c5000-59e9-11e9-87a3-cea591d12da6.gif)

[tableviewshadow.playground-v2.zip](https://github.com/balance-io/balance-ios/files/3054756/tableviewshadow.playground-v2.zip)

[2019-04-08 14:32] borwahs commented on #159
The key thing I am contemplating is maybe using an image for header and footer. More performant, more control, and can match the figma a lot closer. Going to try that next.

[2019-04-08 20:44] ricburton opened #175 "Loopring tokens are missing"
https://etherscan.io/address/0x8508be404c0f34e2b7a1fb4a9c5a27c3f1d79b24#

Bad data.

**Link:** [Conversation with User dfnw](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21532884430)

**Customer:** [User dfnw](https://app.intercom.com/a/apps/j0fl7v0m/users/5caa7e132d34db11d07524b9/all-conversations)
**Customer ID:** 5C6CF925-CF4E-410F-8DA2-E0479C37351C
___
Intercom Oper

[2019-04-09 10:43] ricburton opened #176 "⚠️ DAI Balance not showing"
Something is up with the API or our code

0xB2ee798085CA10d347285C40e84DF80a5dE69479

https://ethplorer.io/address/0xb2ee798085ca10d347285c40e84df80a5de69479?from=search

<img width="1920" alt="Screen Shot 2019-04-09 at 11 42 02" src="https://user-images.githubusercontent.com/438160/55794237-a92a8b80-5abc-11e9-9594-d68b33a4c573.png">

**Link:** [Conversation with User bgtm](https://app.intercom.co

[2019-04-09 20:21] ricburton commented on #159
Thanks so much @borwahs. Can I help with anything?

[2019-04-09 20:23] #171 closed, assigned to jamierumbelow

[2019-04-09 20:24] #167 closed, assigned to ricburton

[2019-04-09 20:24] #149 closed, assigned to nobody

[2019-04-09 20:49] ricburton commented on #159
Is this handy?

https://github.com/intuit/CardParts

[2019-04-10 06:34] #9 closed

[2019-04-10 08:52] ricburton commented on #26
This is still a problem. People can add the same wallet twice.

[2019-04-10 08:53] ricburton commented on #26
Sorry: It cannot happen. What I mean is: people should get a warning. Like: "This wallet has already been added."

[2019-04-10 09:00] ricburton commented on #97
Seems fine with my Test wallet:
<img width="370" alt="Screen Shot 2019-04-10 at 09 55 51" src="https://user-images.githubusercontent.com/438160/55865720-dfc4dc80-5b76-11e9-9119-425420a3168e.png">

https://ethplorer.io/address/0x1db7332d24ebbdc5f49c34aa6830cb7f46a3647c?from=search
<img width="695" alt="Screen Shot 2019-04-10 at 09 58 35" src="https://user-images.githubusercontent.com/438160/5586595

[2019-04-10 19:24] ricburton opened #177 "🏹 Check BAL vs Balance Token"
Check the contract address for impostors! 😆

<img width="369" alt="Screen Shot 2019-04-10 at 10 25 47" src="https://user-images.githubusercontent.com/438160/55867804-1ac90f00-5b7b-11e9-8c91-d94918862280.png">

[2019-04-25 13:47] ricburton commented on #116
Is this better now?

We’ve launched some exciting new API updates!
We now fully support market data within all raw blockchain endpoints!

To view & test, you simply need to use includePrice=true on the endpoint.
The following include Ether price and/or token price depending on context:
https://docs.amberdata.io/reference/addresses#get-historical-account-balances
https://docs.amberdata.io/reference

[2019-04-25 13:50] ricburton commented on #116
Can we just use this for now?

https://github.com/balance-io/balance-indexer

[2019-04-26 12:50] ricburton opened #178 "Decimals for IOTA 💩"
**Link:** [Conversation with User tk0g](https://app.intercom.com/a/apps/j0fl7v0m/respond/inbox/all/conversations/21780984061)

**Customer:** [User tk0g](https://app.intercom.com/a/apps/j0fl7v0m/users/5cbaac544536a88fbdbca88e/all-conversations)
**Customer ID:** 03D74373-60E0-4973-B7DF-4C7062C2BB21
___
Intercom Operator will send a note to [this conversation](https://app.intercom.com/a/apps/j0fl7v0m

[2019-04-30 14:51] ricburton opened #179 "👀 Overlapping cell expansion button"
<img width="375" alt="Screen Shot 2019-04-30 at 10 49 20" src="https://user-images.githubusercontent.com/438160/56970765-e28f6d80-6b35-11e9-88cf-7f98408c2fc6.png">

https://cl.ly/b46033188f3f

[2019-05-01 17:08] jamierumbelow opened #180 "⚠️ Memory use is waaaaay too high"
![image](https://user-images.githubusercontent.com/49284/57029996-a5b19c80-6c43-11e9-8454-104cfd35b410.png)

Each sudden rise is when I refresh. Leaving the app running for a little while does little to collect the garbage.

I'm sure we can manually release a lot of stuff when we know we don't need it, or use the `weak var` marker to allow the GC to free up some space.

[2019-05-02 15:37] ricburton opened #182 "🧮 Calculate and Show Total Balance"
I think this is really key for people. Calculating it will require us to think through the logic of each kind of asset.

ERC20s: Add them up
CDPs: Assets - Debt = Balance
Compound: Assets + Interest = Balanc
<img width="508" alt="Screen Shot 2019-05-02 at 11 37 19" src="https://user-images.githubusercontent.com/438160/57087715-a93e3580-6cce-11e9-8535-b19e2c974728.png">
e

[2019-05-07 16:10] ricburton opened #185 "Change Maker CDP view to a new view"
Right now the CDP detail view is a popup. I think it is best to move it to its own view. Will provide a design.

[2019-05-07 16:18] ricburton opened #186 "Change ERC-20 rows to cells and restructure tableview"
Right now the ERC-20s are in this expanding single cell which I think will lead to issues down the road.

Could we look at something like this to make the whole system cleaner?

https://github.com/younatics/ExpandableCell

I have looked through lots of libraries and this looks well maintained, updated for Swift 5, and a nice base for us to work off.

@einsteinx2, @borwahs & @jamierumbelow curious

[2019-05-08 16:38] #179 closed, assigned to jamierumbelow, einsteinx2

[2019-05-10 22:06] einsteinx2 commented on #186
Ahh I see, so this essentially adds the extra rows in. Not sure how it would work though with the current design where the whole expanding cell has a border or looks like singular cell (unless I'm out of date on the current design which is totally possible). We might be able to hack that in, but if we switch to this, are you ok with the design looking like separate cells rather than one big cell?

[2019-05-10 22:07] einsteinx2 commented on #185
I assume you mean a view that slides in on the navigation controller?

[2019-05-10 22:07] einsteinx2 commented on #182
sounds doable

[2019-05-10 22:07] einsteinx2 commented on #26
ok sounds good, we can do that.

[2019-05-10 22:08] einsteinx2 commented on #172
haha jesus. How would you like to display the shortened number? Easy to do an ellipsis, or we can do something else.

[2019-05-10 22:09] einsteinx2 commented on #168
ah weird. is this reproducible reliably?

[2019-05-10 22:10] einsteinx2 commented on #159
This design will likely be very difficult using the library you wanted for expanding cells. I can try and fake it, but can't promise it will work well depending on how that library is done...

[2019-05-10 22:10] einsteinx2 commented on #98
@ricburton how would you like this done UI-wise?

[2019-05-10 22:11] einsteinx2 commented on #98
@ricburton how would you like this done UI-wise?

[2019-05-10 22:12] einsteinx2 commented on #82
@ricburton can you show a screenshot of this happening? And also explain what you want instead? We're using a custom tab bar icon rather than intercom's standard bubble. We can put the link/icon/button anywhere if we keep using a custom one.

[2019-05-10 22:12] einsteinx2 commented on #69
can definitely add error messaging

[2019-05-15 14:47] ricburton opened #187 "Strip wallet out of clipboard"
If someone had copied a sentence with an address it would be good.

[2019-05-15 14:49] ricburton opened #188 "Track wallet allowances"
See all of the permissions and wallet allowances you have enabled.

https://twitter.com/thegrifft/status/1128629326298124289?s=21

@koeppelmann had this great idea.

[2019-05-20 10:56] ricburton commented on #82
![IMG_9995](https://user-images.githubusercontent.com/438160/58016689-38808100-7af6-11e9-9425-4f142f6d1f9d.PNG)

It might not be possible if it is in their library.

Not a high priority.

[2019-05-20 10:56] ricburton commented on #98
I'll take this one.

[2019-05-20 10:57] ricburton commented on #159
Got it. Not sure where @borwahs is with this. I am just getting back into the codebase now.

[2019-05-20 11:00] ricburton commented on #168
Damn I cannot reproduce right now. Let me try a clean install.

[2019-05-20 11:01] ricburton commented on #168
Worked fine. Will Close for now.

[2019-05-20 11:01] #168 closed, assigned to ricburton

[2019-05-20 11:01] ricburton commented on #172
Elipsis is easy. This is silly :P

[2019-05-20 16:43] jamierumbelow commented on #159
#189 is the most recent version available. Getting it tidied up and running smoothly is on my to-do list for this week.

[2019-05-20 16:44] jamierumbelow commented on #168
It's possibly a connection error too? Once we've merged #181 and #184 we can keep an eye on it.

[2019-05-21 22:31] borwahs commented on #159
@jamierumbelow & @ricburton // I have the rounded corners working and I think it looks pretty nice. Was going to work on the actual card labels to match the new design.

@jamierumbelow // maybe you could look at how we can change the tab bar and nav bar?

[2019-05-23 02:58] #116 closed, assigned to nobody

[2019-05-23 02:58] #177 closed, assigned to jamierumbelow

[2019-05-23 03:13] borwahs commented on #159
Do you guys have a good address I can use to play with the expand/collapse rows?

[2019-05-26 21:38] einsteinx2 commented on #180
Before doing any optimizations, we should use Instruments to see exactly what’s using the memory. Xcode’s CPU and memory profiling tools are top notch.

I’m happy to pair with you on a call to show you how it works. It’s been a little while, but I used to use it a lot so I’m sure it’ll come back to me quickly :)

[2019-05-26 22:05] einsteinx2 commented on #177
Haha wow that didn’t take long

[2019-06-10 11:31] aahutsal commented on #79
@ricburton is it still actual? Asking gas issue remain open.